# Dataset Creation

This project required 2 types of data - air quality data(pollutant levels) and meteorological data (temperature, humidity, wind speed, etc.) for the capital city of Delhi. 

* **Air Quality Data** - obtained from [this](https://www.kaggle.com/rohanrao/air-quality-data-in-india) Kaggle dataset for Indian Air Quality
* **Weather Data** - obtained from the [Reliable Prognosis Weather Archive](https://rp5.ru/Weather_archive_in_New_Delhi,_Safdarjung_(airport)), for the Safdarjung weather station

The data spans from 01-01-2015 to 30-04-2020.

In [2]:
#Import Libraries Needed
import pandas as pd

In [19]:
fileA = pd.read_excel('C:/Users/Anantk/Downloads/city_weather.xls')

In [20]:
fileA.head()

,Date,T,Po,P,Pa,U,DD,Ff,WW
0,30.04.2020 23:00,28.0,737.4,755.3,1.2,70.0,Wind blowing from the north-east,2.0,Haze.
1,30.04.2020 20:00,30.2,736.2,753.9,0.9,65.0,Wind blowing from the east,1.0,Haze.
2,30.04.2020 17:00,36.6,735.3,752.6,-1.7,46.0,Wind blowing from the north-east,3.0,Haze.
3,30.04.2020 14:00,37.8,737.0,754.3,-2.0,40.0,Wind blowing from the north-west,3.0,Haze.
4,30.04.2020 11:00,34.6,739.0,756.5,0.4,50.0,Wind blowing from the south-east,3.0,Haze.

In [21]:
fileA.columns

Index(['Date', 'T', 'Po', 'P', 'Pa', 'U', 'DD', 'Ff', 'WW'], dtype='object')

In [22]:
fileA['Date'] =  pd.to_datetime(fileA['Date'], dayfirst = True)

In [23]:
fileA.head()

,Date,T,Po,P,Pa,U,DD,Ff,WW
0,2020-04-30 23:00:00,28.0,737.4,755.3,1.2,70.0,Wind blowing from the north-east,2.0,Haze.
1,2020-04-30 20:00:00,30.2,736.2,753.9,0.9,65.0,Wind blowing from the east,1.0,Haze.
2,2020-04-30 17:00:00,36.6,735.3,752.6,-1.7,46.0,Wind blowing from the north-east,3.0,Haze.
3,2020-04-30 14:00:00,37.8,737.0,754.3,-2.0,40.0,Wind blowing from the north-west,3.0,Haze.
4,2020-04-30 11:00:00,34.6,739.0,756.5,0.4,50.0,Wind blowing from the south-east,3.0,Haze.

In [35]:
fileB = pd.read_csv('C:/Users/Anantk/Downloads/dataset_2.csv')

In [36]:
fileB.head()

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,...,Day,Hour,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,30-04-2020 23:00,59.68,122.26,13.00,29.68,29.70,33.57,1.00,14.41,29.85,...,30,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,30-04-2020 20:00,50.73,190.73,18.08,19.29,28.60,33.13,0.78,15.46,69.34,...,30,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,30-04-2020 17:00,42.53,108.07,19.01,15.48,10.95,34.14,0.81,21.66,94.92,...,30,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30-04-2020 14:00,47.40,109.09,14.91,14.41,23.49,31.32,0.83,20.95,91.61,...,30,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30-04-2020 11:00,63.73,132.04,9.85,15.65,18.34,33.20,0.84,20.07,69.94,...,30,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
fileB.columns

Index(['Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Category', 'Month', 'Day',
       'Hour', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [38]:
fileB = fileB.drop(['Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis=1)

In [39]:
fileB.head()

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Category,Month,Day,Hour
0,30-04-2020 23:00,59.68,122.26,13.00,29.68,29.70,33.57,1.00,14.41,29.85,1.97,14.47,0.0,145.0,Moderate,4,30,23
1,30-04-2020 20:00,50.73,190.73,18.08,19.29,28.60,33.13,0.78,15.46,69.34,1.43,10.56,0.0,149.0,Moderate,4,30,20
2,30-04-2020 17:00,42.53,108.07,19.01,15.48,10.95,34.14,0.81,21.66,94.92,1.36,20.63,0.0,145.0,Moderate,4,30,17
3,30-04-2020 14:00,47.40,109.09,14.91,14.41,23.49,31.32,0.83,20.95,91.61,1.54,7.45,0.0,136.0,Moderate,4,30,14
4,30-04-2020 11:00,63.73,132.04,9.85,15.65,18.34,33.20,0.84,20.07,69.94,2.14,8.34,0.0,117.0,Moderate,4,30,11

In [40]:
fileB['Date'] =  pd.to_datetime(fileB['Date'])

In [41]:
fileB.head()

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Category,Month,Day,Hour
0,2020-04-30 23:00:00,59.68,122.26,13.00,29.68,29.70,33.57,1.00,14.41,29.85,1.97,14.47,0.0,145.0,Moderate,4,30,23
1,2020-04-30 20:00:00,50.73,190.73,18.08,19.29,28.60,33.13,0.78,15.46,69.34,1.43,10.56,0.0,149.0,Moderate,4,30,20
2,2020-04-30 17:00:00,42.53,108.07,19.01,15.48,10.95,34.14,0.81,21.66,94.92,1.36,20.63,0.0,145.0,Moderate,4,30,17
3,2020-04-30 14:00:00,47.40,109.09,14.91,14.41,23.49,31.32,0.83,20.95,91.61,1.54,7.45,0.0,136.0,Moderate,4,30,14
4,2020-04-30 11:00:00,63.73,132.04,9.85,15.65,18.34,33.20,0.84,20.07,69.94,2.14,8.34,0.0,117.0,Moderate,4,30,11

In [42]:
#merge the 2 files along the Date column
df_merged = pd.merge(fileB, fileA, on='Date')

In [43]:
df_merged

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,...,Day,Hour,T,Po,P,Pa,U,DD,Ff,WW
0,2020-04-30 23:00:00,59.68,122.26,13.00,29.68,29.70,33.57,1.00,14.41,29.85,...,30,23,28.0,737.4,755.3,1.2,70.0,Wind blowing from the north-east,2.0,Haze.
1,2020-04-30 20:00:00,50.73,190.73,18.08,19.29,28.60,33.13,0.78,15.46,69.34,...,30,20,30.2,736.2,753.9,0.9,65.0,Wind blowing from the east,1.0,Haze.
2,2020-04-30 17:00:00,42.53,108.07,19.01,15.48,10.95,34.14,0.81,21.66,94.92,...,30,17,36.6,735.3,752.6,-1.7,46.0,Wind blowing from the north-east,3.0,Haze.
3,2020-04-30 14:00:00,47.40,109.09,14.91,14.41,23.49,31.32,0.83,20.95,91.61,...,30,14,37.8,737.0,754.3,-2.0,40.0,Wind blowing from the north-west,3.0,Haze.
4,2020-04-30 11:00:00,63.73,132.04,9.85,15.65,18.34,33.20,0.84,20.07,69.94,...,30,11,34.6,739.0,756.5,0.4,50.0,Wind blowing from the south-east,3.0,Haze.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15102,2015-01-01 14:00:00,202.14,340.28,17.11,27.83,63.27,33.77,21.32,6.00,47.54,...,1,14,20.6,743.6,762.1,-1.8,54.0,Wind blowing from the north-northwest,2.0,"Visibility reduced by smoke, e.g. veldt or for..."
15103,2015-01-01 11:00:00,265.62,548.82,31.17,27.13,64.54,33.28,11.43,6.00,55.49,...,1,11,18.2,745.4,764.1,1.0,64.0,"Calm, no wind",0.0,"Visibility reduced by smoke, e.g. veldt or for..."
15104,2015-01-01 08:00:00,337.98,725.74,72.93,26.83,90.44,28.10,7.89,9.00,13.42,...,1,8,11.2,744.4,763.5,1.2,92.0,"Calm, no wind",0.0,"Fog or ice fog, sky visible, no appreciable ch..."
15105,2015-01-01 05:00:00,415.88,976.99,60.24,37.41,80.12,30.84,26.19,6.17,16.00,...,1,5,10.2,743.2,762.3,-0.3,92.0,"Calm, no wind",0.0,"Fog or ice fog, sky visible, no appreciable ch..."
15106,2015-01-01 02:00:00,440.44,NaN,70.80,43.46,176.83,27.72,13.28,3.88,50.53,...,1,2,9.2,743.5,762.7,-0.5,95.0,"Calm, no wind",0.0,"Fog or ice fog, sky visible, no appreciable ch..."

In [50]:
df_merged.columns

Index(['Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2', 'O3',
       'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Category', 'Month', 'Day',
       'Hour', 'T', 'Po', 'P', 'Pa', 'U', 'DD', 'Ff', 'WW'],
      dtype='object')

In [51]:
df_merged=df_merged.rename(columns={"T": "Temp", "U": "Rel_Humidity", "Ff":"Wind_Speed", "DD": "Wind_Direction"})

In [54]:
df_merged = df_merged.drop(['Benzene', 'Toluene', 'Xylene', 'Po', 'P', 'Pa', 'WW'], axis=1)

In [55]:
df_merged.head()

,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,AQI,AQI_Category,Month,Day,Hour,Temp,Rel_Humidity,Wind_Direction,Wind_Speed
0,2020-04-30 23:00:00,59.68,122.26,13.00,29.68,29.70,33.57,1.00,14.41,29.85,145.0,Moderate,4,30,23,28.0,70.0,Wind blowing from the north-east,2.0
1,2020-04-30 20:00:00,50.73,190.73,18.08,19.29,28.60,33.13,0.78,15.46,69.34,149.0,Moderate,4,30,20,30.2,65.0,Wind blowing from the east,1.0
2,2020-04-30 17:00:00,42.53,108.07,19.01,15.48,10.95,34.14,0.81,21.66,94.92,145.0,Moderate,4,30,17,36.6,46.0,Wind blowing from the north-east,3.0
3,2020-04-30 14:00:00,47.40,109.09,14.91,14.41,23.49,31.32,0.83,20.95,91.61,136.0,Moderate,4,30,14,37.8,40.0,Wind blowing from the north-west,3.0
4,2020-04-30 11:00:00,63.73,132.04,9.85,15.65,18.34,33.20,0.84,20.07,69.94,117.0,Moderate,4,30,11,34.6,50.0,Wind blowing from the south-east,3.0

In [57]:
#Exporting the final dataset

df_merged.to_csv('final_dataset.csv', index = False)